<!-- One -->
{{#each userBookmarks}}


  <div
    class='property-card card col-sm-12 col-md-5 col-lg-4 m-3 augmentate-1'
    href='/about-property/{{property.id}}'
    property-id='{{property.id}}'
  >
    {{#if ../logged}}
      <div class='bookmark-icon'><i class='fa-solid fa-heart'></i></div>
    {{/if}}
      <div class='removeBookmark-icon'><i class="fa-solid fa-circle-minus"></i></div>

    <a href='/about-property/{{property.id}}'>
      <img
      id="image-property-card"
        class='card-img-top'
        src='{{property.image1}}'
        alt='Card image cap'
      />
      <div class='d-flex flex-column p-2'>
        <li class='list-unstyled'>{{property.city}}, {{property.address}} </li>
        <li class='ms-auto list-unstyled'>£ {{property.price}} p/m</li>
      </div>
    </a>

  </div>
{{/each}}

